{% extends 'layout/base.twig.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        {% if (request.getParameter('error')) %}
        <div class="alert alert-danger">
            <b>Error</b> Something went wrong, try again.
        </div>
        {% endif %}

        <form class="form-signin" role="form" method="post" action="{{ path '/login' }}">
            <h2 style="color: white;" class="form-signin-heading">Administration login</h2>
            <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
            <input name="password" type="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}